/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #0c0b14FF;
    background-alt: #13141cFF;
    foreground:     #E5E9F0FF;
    selected:       #cdd1d3FF;
    active:         #1a1b26FF;
    urgent:         #BF616AFF;
}
